<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Peter Milne</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item p-1 rounded">
                <a class="nav-link smooth-scroll text-uppercase" href="#">
                    <i class="bi bi-house"></i>Home
                </a>
            </li>
            <li class="nav-item p-1 rounded">
                <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#about">
                    <i class="bi bi-person-circle"></i>About
                </a>
            </li>
            <li class="nav-item p-1 rounded">
                <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#skills">
                    <i class="bi bi-briefcase"></i>Skills
                    </a>
            </li>
            <li class="nav-item p-1 rounded">
                <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#cv"> 
                    <i class="bi bi-file-earmark"></i>Experience    
                </a>
            </li>
            <li class="nav-item p-1 rounded">
                <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#portfolio">
                    <i class="bi bi-code-square"></i>Portfolio
                    </a>
            </li>
            <li class="nav-item p-1 rounded">
                <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#contact"> 
                    <i class="bi bi-envelope"></i>Contact
                </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>