<section id="about">
    <div class="container">
        <h2><strong>About</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <div id="peter" class="img-fluid"> </div>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/peter-milne-b418952a/" rel="tooltip"
                        target="_blank" title="Linkedin">
                        <fa-icon [icon]="faLinkedin" class="fa fa-2x"></fa-icon>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="" rel="tooltip" target="_blank"
                        title="{{'about.followMeOn'}} GitHub">
                        <i class="fa fa-github fa-lg "></i></a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Principal Software Engineer</h3>
                <p class="font-italic">
                    Technically astute and dynamic professional with substantial experience driving excellence in
                    software development and team performance.
                    Skilled in implementing scaled agile methodologies and fostering a culture of innovation.
                    Proficient in directing post-merger software development aligned with organisational goals,
                    optimising resource allocation,
                    and reducing technical debt. Adept at delivering large-scale projects on time and within budget in
                    adherence to quality
                    assurance and security protocols. Proven track record of enhancing user engagement and driving
                    operational
                    excellence through the introduction of new technologies and product offerings.
                    History of leading cross-functional teams and seamlessly integrating teams post-merger.
                    Expert at leveraging technical expertise to align software development goals with business
                    objectives and drive
                    continuous improvement.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="faCalendar" class="fa-iconsmall"></fa-icon><strong>21 Years
                                    Experience</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="faCalendar" class="fa-iconsmall"></fa-icon><strong>10+ Years Management
                                    Experience</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="faCode" class="fa-iconsmall"></fa-icon><strong>Full Stack
                                    Engineer</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="faGraduationCap" class="fa-iconsmall"></fa-icon><strong>Bsc Computer
                                    Science</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="faGraduationCap" class="fa-iconsmall"></fa-icon><strong>Msc Information
                                    Engineering</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="faMapLocationDot" class="fa-iconsmall"></fa-icon><strong>Aberdeen,
                                    Scotland</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>