<section id="contact">
    <div class="container mb-5">
        <h2><strong>Get in Touch</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row" data-aos="fade-up" data-aos-anchor-placement="top-center">
            <div class="col-md-3 col-lg-3">
                <div class="contact-info">
                    <fa-icon [icon]="faEnvelope" class="fa fa-10x"></fa-icon>
                    <h4>Contact Me</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="fullname" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }" />
                                @if (submitted && f['fullname'].errors) {
                                <div class="invalid-feedback">
                                    @if (f['fullname'].errors['required']) {
                                    <div>Name is required</div>
                                    }
                                </div>
                                }
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                                @if (submitted && f['email'].errors) {
                                <div class="invalid-feedback">
                                    @if (f['email'].errors['required']) {
                                    <div>Email is required</div>
                                    }
                                    @if (f['email'].errors['email']) {
                                    <div>Email is invalid</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Message</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Send</button>
                                &nbsp;&nbsp;
                                <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>